.user-account-content {

	.user-account-form {
      float: left;
      position: relative;
      display: block;
      width: 100%!important;
      min-height: 600px;
      padding: 0;
      margin: 0;

      @media only screen and (max-width: 767px) {
        float: none;
        width: auto;
        padding: 0 0 0 0;
      }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 320px;
      }
      @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        width: 440px;
      }
      @media only screen and (min-width: 1280px) {
        width: 560px;
      }

      .section_1 {
        position: relative;
        display: block;
        width: 200px;
        padding: 0 0 30px 0;
        margin-top: 10px;

        @media only screen and (max-width: 767px) {
          padding: 0 0 20px 0;
        }

        .control-group {
          float: left;
          position: relative;
          width: 200px;
          padding: 0 20px 5px 0;

          @media only screen and (max-width: 767px) {
            float: none;
            width: auto;
            padding: 0 0 10px 0;
          }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            width: 300px;
          }

          label {
            position: relative;
            width: auto;
            height: 12px;
            padding: 4px 5px 0 5px;
            margin: 0;
            color: #888;
            font-size: 11px;
            line-height: 12px;
          }

          p,
          input[type=text],
          input[type=password],
          select {
            width: 190px;
            margin: 0;
            color: #222;
          }

          input[type=text],
          input[type=password],
          select {

            @media only screen and (max-width: 1023px) {
              width: 100%;
              height: 28px;
              box-sizing: border-box;
            }
          }

          select {
            width: 200px;

            @media only screen and (max-width: 1023px) {
              width: 100%;
            }
          }

          p {
            padding: 5px 5px 5px 5px;
            background-color: #fff;
            border-radius: 3px;
          }

          .error {
            display: inline-block;
            width: auto;
            padding: 4px 5px 4px 5px;
            margin: 0;
            font-size: 11px;
          }
        }

        .control-group-large {

          p,
          input[type=text],
          input[type=password] {
            padding: 2px 3px 2px 3px;
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
          }

          input[type=text],
          input[type=password] {
            height: 20px;

            @media only screen and (max-width: 1023px) {
              height: 28px;
            }
          }
        }

        .control-group-wide {
          width: 420px;

          @media only screen and (max-width: 1023px) {
            float: none;
            width: auto;
          }

          p,
          input[type=text],
          input[type=password] {
            width: 150px;

            @media only screen and (max-width: 1023px) {
              width: 100%;
            }
          }

          select {
            width: 420px;

            @media only screen and (max-width: 1023px) {
              width: 100%;
              box-sizing: border-box;
            }
          }
        }
      }
    }
}

.upload_button {
  margin-top: 0!important;
  margin-left: 19px;
  position: relative;
  overflow: hidden;
}
.upload_button input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.edit_img {
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
  margin-top: 15px;
}
.home_div {
  width: 200px;
  float: left;
}

.section {
  padding-top: 42px;
  margin-left: 20px!important;
  width: 420px;
  float: left;
}
.last_logged {
  border: 2px solid #CCC;
  width: 196px;
  height: 80px;
  text-align: center;
  color: #000000;
  padding-top: 20px;
}
.last_logged_span {
  margin-top: 10px;
}
.label_section {
  color: #000000;
  height: 25px;
  margin-bottom: 20px;
  float: left;
  width: 150px;
}
input[type=text],input[type=password] {
  margin-bottom: 15px;
  margin-left: 40px;
  color: #000000;
  font-weight: bold;
}
select {
  color: #000000;
  margin-left: 190px;
  margin-top: -47px !important;
  margin-bottom: -25px !important;
  float: left;
}
.groups {
  float: left;
  width: 850px;
  margin-left: 20px;
  margin-top: 20px;
  min-height: 248px;
}
.groups label {
  color: #000000;
  font-weight: bold;
}
.groups input {
  margin-left: 0;
  width: 840px;
}
#biography {
  border: 2px solid #CCC;
  color: #000000;
}
#biography:focus {
  border: 2px solid #222;
}
.expertise {
  padding-top: 10px;
  min-height: 100px;
}
.expertise input {
  width: 200px;
}
.add_expertise_input {
  background-color: #E2E2E2;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin-left: 20px;
}
.add_expertise_input:hover {
  background-color: #ccc;
}
.add_expertise {
  background-color: #E2E2E2;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  margin-left: 20px;
}
.add_expertise:hover{
  background-color: #ccc;
}
.interests {
  padding-top: 10px;
  min-height: 100px;
}
.interests input {
  width: 200px;
}
.add_interests_input {
  background-color: #E2E2E2;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin-left: 20px;
}
.add_interests_input:hover {
  background-color: #ccc;
}
.add_interests {
  background-color: #E2E2E2;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  margin-left: 20px;
}
.add_interests:hover {
  background-color: #ccc;
}
.add_expertise_field {
  margin-left: 200px;
  margin-bottom: 5px;
  width: 420px;
  height: 28px;
}
.add_interests_field {
  margin-bottom: 5px;
  width: 420px;
  height: 28px;
  margin-left: 200px;
}
.expertise .label_section {
  font-weight: bold;
}
.interests .label_section {
  font-weight: bold;
}
.expertise_name {
  width: 180px;
  margin-bottom: 5px;
  padding-bottom: 3px;
}
.interests_name {
  width: 180px;
  margin-bottom: 5px;
  padding-bottom: 3px;
}
.close_expertise {
  cursor: pointer;
  background-color: #E2E2E2;
  margin-left: 15px;
}
.close_expertise:hover {
  background-color: #ccc;
}
.close_interests {
  cursor: pointer;
  background-color: #E2E2E2;
  margin-left: 15px;
}
.close_interests:hover {
  background-color: #ccc;
}
.expertise_span {
  width: 150px;
  display: inline-block;
  overflow: hidden;
}
.interests_span {
  width: 150px;
  display: inline-block;
  overflow: hidden;
}
.interests_autocomplete {
  border: 2px solid #636161;
  width: 206px;
  min-height: 50px;
  max-height: 130px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  overflow: auto;
}

.expertise_autocomplete {
  border: 2px solid #636161;
  width: 206px;
  min-height: 50px;
  max-height: 130px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  overflow: auto;
}

.autocomplete_li {
  font-weight: bold;
  cursor: pointer;
  color: #5F5F5F;
  padding-left: 5px;
  list-style: none;
}
.autocomplete_li:hover {
  background-color: #ccc;
}
.save_change {
  margin-left: 740px;
}
.groups_div {
  margin-bottom: 20px;
}
.groups_text {
  padding-left: 10px;
  padding-top: 4px;
  border: 2px solid #ccc;
  min-height: 25px;
}
.inner_groups_div {
  background-color: #E0E0E0;
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 10px;
  width: 120px;
  font-size: 12px;
  border: 1px solid #ccc;
}